<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="inetBankingV1">

<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
	</listeners>
  <test thread-count="5" name="Banking application Test">
  <parameter name="browser" value="chrome"/>
    <classes> 
      <class name="com.inetbanking.TestCases.BaseClass"/>
      <class name="com.inetbanking.TestCases.TC_LoginTest001"/>   
    <!--    <class name="com.inetbanking.TestCases.TC_LoginDDT_002"/>  -->
   <!--   <class name="com.inetbanking.TestCases.TC_AddCustomerTest_003"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
